<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="error-wrapper">
        <div class="error-container error-500">
            <div class="error">
                <div class="error-title">
                    Error del servidor
                </div>
                <div class="error-number">
                    500
                </div>
                <div class="error-description">
                    Al parecer algo salio mal
                </div>
                <div class="error-or">
                    
                    <a (click)="home()" class="btn btn-primary btn-round">Volver a inicio</a>
                </div>
                
                
            </div>
        </div>

    </div>
    <div class="error-wrapper">
    </div>

    <div class="error-wrapper">
        
    </div>

</body>
</html>