<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="producto.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Marcellus&family=Rouge+Script&display=swap"
    rel="stylesheet">


<div class="product">
    <div class="card-wrapper mb-4">
        <div class="card-img">
            <img [src]="product.image" alt="..." height="240px">
        </div>
        <div class="card-body">
            <div>
                <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h4 class="h5 mb-2"><a href="#" class="text-secondary">{{ product.name }}</a></h4>
        <div class="product-rating mb-2">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star mr-0"></i>
        </div>
        <h5 class="mb-0 text-primary">$ {{ product.precio }}</h5>
        <div class="agregarcarrito">
            <span class="boton3">Agregar al carrito</span>
        </div>
    </div>
</div>