body {
    margin-top: 20px;

}

h4 {
    color: #590829 !important;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

h5 {
    margin-top: 10px;
}

.team-style1 .team-social-icon {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: auto;
    display: block;
    transition: all 0.3s ease-in-out;
}

.team-style1 .team-social-icon ul {
    list-style: none;
    padding: 0;
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.team-style1 .team-social-icon ul li {
    margin-bottom: 8px;
}

.team-style1 .team-social-icon ul li:last-child {
    margin-bottom: 0;
}

.team-style1 .team-social-icon ul li a {
    background-color: #fff;
    color: #004975;
    font-size: 15px;
    display: inline-block;
    height: 36px;
    border-radius: 0.25rem;
    width: 36px;
    border: 1px solid rgba(0, 73, 118, 0.41);
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.team-style1 .team-social-icon ul li a:hover {
    background: #00baee;
    color: #fff;
    border: 1px solid #00baee;
}

.product-rating {
    line-height: 22px;
}

.product-rating i {
    color: #fc0;
    display: inline-block;
    margin-right: 2px;
    font-size: 14px;
}

@media screen and (max-width: 1199px) {
    .product-rating {
        margin-bottom: 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .product-rating i {
        font-size: 13px;
    }
}

.text-secondary {
    color: #590829 !important;
    font-family: Marcellus;
    font-size: 17px;
    font-weight: 400;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
}

.card-wrapper .card-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.card-wrapper .card-img img {
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.card-wrapper .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 11;
}

.card-wrapper:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 9;
    transition: 0.8s;
    background: rgba(119, 23, 49, 0.644);
    border-radius: 0.25rem;
}

.card-wrapper:hover:before {
    right: 0;
}

.card-wrapper h3,
.card-wrapper p {
    color: #fff;
}

.card-wrapper .read-more {
    color: #fff;
}

.card-wrapper .read-more:after {
    color: #fff;
}

.card-wrapper:hover .card-body {
    visibility: visible;
    transform: translateX(0px);
}

.card-wrapper:hover .backgound-color {
    right: 0;
}

.ti-shopping-cart:before {
    content: "\e60d";
}

.mb-2-6,
.my-2-6 {
    margin-bottom: 2.6rem;
}

.text-primary {
    color: #590829 !important;
}

.agregarcarrito {
    padding: 2%;
    display: inline-block;
    cursor: pointer;
}

.boton3 {
    color: #590829 !important;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #590829;
    transition: all 1s ease;
    position: relative;
    border-radius: 5px;
}

.boton3:hover {
    background: #590829;
    color: #fff !important;
}

button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: #4a4a4a;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.2s;
}

button:hover {
    color: #590829;
}

button i {
    margin-right: 5px;
}

button.add-to-cart {
    color: #ffffff;
    background-color: #590829;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.add-to-cart:hover {
    background-color: #590829;
}

button.remove-from-cart {
    color: #590829;
    border: 1px solid #590829;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.remove-from-cart:hover {
    color: #ffffff;
    background-color: #590829;
    border-color: #590829;
}

button.add-to-favorites {
    color: #590829;
    background-color: transparent;
    padding: 0;
    font-size: 1.2rem;
}

button.add-to-favorites:hover {
    color: #ffbb3f;
}

button.search {
    background-color: #f2f2f2;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.search:hover {
    background-color: #e6e6e6;
}

button.search i {
    font-size: 1.2rem;
}