<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="producto.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Marcellus&family=Rouge+Script&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-**" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="product">
    <div>
        <div class="card-img">
            <img [src]="product.imagen" alt="..." height="240px">
        </div>
    </div>
    <div class="text-center">
        <h4 class="h5 mb-2">{{ product.nombre }}</h4>
        <div class="small m-t-xs">
            {{ product.descripcion }}
        </div>
        <h5 class="mb-0 text-primary"> {{ product.preciodeventa|currency }}</h5>
        <div class="agregarcarrito">
            <div class="btn-group" style="margin-top: 15px; align-items: center;">                     
                <button class="add-to-cart">
                    <i class="fas fa-shopping-cart" style="margin-left: 6px;"></i>
                </button>                     
                <button class="add-to-cart">
                    <i class="fas fa-trash-alt" style="margin-left: 6px;"></i>
                </button>                     
                <button class="add-to-cart">
                    <i class="fas fa-eye" style="margin-left: 6px;" (click)="descproducto(product.id)"></i>
                </button>                 
            </div>
        </div>
    </div>
</div>
