<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

<footer>
   <div class="fila">
      <a href=""><i id="redes" class="bi bi-facebook"></i></a>
      <a href=""><i id="redes" class="bi bi-instagram"></i></a>
   </div>
   <div class="fila">
      <div class="novedades">
         <h4>Para recibir novedades</h4>
         <form>
           <input type="email" name="email" placeholder="Email">
           <button type="submit"><i class="bi bi-send-fill"></i></button>
         </form>
       </div>
   </div>
   <div class="fila">
      <a href="#"><h5>Acerca de</h5></a>
      <a href="#"><h5>Catálogo</h5></a>
      <a href="#"><h5>Contacto</h5></a>
      <a href="#"><h5>Inicio</h5></a>
   </div>
   <div class="fila">
     <h6>© 2023 Lemone. Derechos Reservados</h6>
   </div>
   
 </footer>
 