footer {
    background-color: #590829;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .fila {
    margin-bottom: 20px;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid black;
  }  
  
  .fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .fila:last-child {
    margin-bottom: 0;
  }
  
  .fila form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .fila form input[type="email"] {
    
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin-right: 10px;
    width:250px;
  }
  input[type="email"]::placeholder {
    text-align: center;
}
  
  .fila form button[type="submit"] {
    background-color: #ffffff;
    border: none;
    color: #590829;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .fila a {
    
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
  }

  .fila #redes {
    font-size: 20px;
    margin-right: 30px;
    
  }


  
.novedades{
    flex-direction: column ;
}


  