<p>catalogo works!</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="catalogo.component.css">


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-3 mb-2-6">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">

                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Hand Gloves</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$11.79</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Products Bag</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$79.00</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Cleaning Equipment</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$19.22</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Washing Liquids</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$28.25</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Vacuum Cleaner</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$129.79</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Rubber Gloves</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$44.42</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2-6 mb-sm-0">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Rubber Gloves</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$24.69</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card-wrapper mb-4">
                <div class="card-img"><img src="assets/img/index/producto-base.png" alt="...">
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="h5 mb-2"><a href="#" class="text-secondary">Cleaning Supplies</a></h4>
                <div class="product-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star mr-0"></i>
                </div>
                <h5 class="mb-0 text-primary">$79.79</h5>
                <div class="agregarcarrito">
                    <span class="boton3">Agregar al carrito</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>