<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="" target="__blank">Perfil</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Foto de perfil</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-3" alt="" src="assets/img/miembros/MelisApaz.jpeg">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">Solo JPG O PNG que no sea mas grande de 5MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Sube una nueva imagen</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Detalles de la cuenta</div>
                    <div class="card-body">
                        <form [formGroup]="accountForm" (ngSubmit)="saveChanges()">
                             <!-- Form Group (username) -->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Nombre de usuario</label>
                                    <input class="form-control" id="username" type="text" placeholder="Ingresa tu nombre de usuario" formControlName="username">
                                    <!-- Resto del código -->
                                    <div *ngIf="accountForm?.get('username')?.invalid && (accountForm?.get('username')?.dirty || accountForm?.get('username')?.touched)" class="text-danger">
                                        <div *ngIf="accountForm?.get('username')?.errors?.['required']">Campo requerido.</div>
                                        <div *ngIf="accountForm?.get('username')?.errors?.['minlength']">Debe tener al menos {{ accountForm?.get('username')?.errors?.['minlength']?.requiredLength }} caracteres.</div>
                                        <div *ngIf="accountForm?.get('username')?.errors?.['maxlength']">Debe tener menos de {{ accountForm?.get('username')?.errors?.['maxlength']?.requiredLength }} caracteres.</div>
                                    </div>
                                </div>        
                            <!-- Form Row -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name) -->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="first_name">Nombre</label>
                                    <input class="form-control" id="first_name" type="text" placeholder="Ingresa tu nombre" formControlName="first_name">
                                    <div *ngIf="accountForm?.get('first_name')?.invalid && (accountForm?.get('first_name')?.dirty || accountForm?.get('first_name')?.touched)" class="text-danger">
                                        <div *ngIf="accountForm?.get('first_name')?.errors?.['required']">Campo requerido.</div>
                                    </div>
                                </div>
                                <!-- Form Group (last name) -->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="last_name">Apellido</label>
                                    <input class="form-control" id="last_name" type="text" placeholder="Ingresa tu apellido" formControlName="last_name">
                                    <div *ngIf="accountForm?.get('last_name')?.invalid && (accountForm?.get('last_name')?.dirty || accountForm?.get('last_name')?.touched)" class="text-danger">
                                        <div *ngIf="accountForm?.get('last_name')?.errors?.['required']">Campo requerido.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Form Row -->
                            <div class="row gx-3 mb-3"></div>
                            <!-- Form Group (organization name) -->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Nombre de la organización (no necesario)</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Ingresa el nombre de tu organización" formControlName="orgName">
                            </div>-->
                            <!-- Form Group (location) -->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Dirección</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Ingresa tu dirección" formControlName="direccion">

                                <div *ngIf="accountForm?.get('direccion')?.invalid && (accountForm?.get('direccion')?.dirty || accountForm?.get('direccion')?.touched)" class="text-danger">
                                    <div *ngIf="accountForm?.get('direccion')?.errors?.['required']">Campo requerido.</div>
                                </div>
                            </div>
                            <!-- Form Group (email address) -->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Ingresa tu Email" formControlName="email">
                                <div *ngIf="accountForm?.get('email')?.invalid && (accountForm?.get('email')?.dirty || accountForm?.get('email')?.touched)" class="text-danger">
                                    <div *ngIf="accountForm?.get('email')?.errors?.['required']">Campo requerido.</div>
                                    <div *ngIf="accountForm?.get('email')?.errors?.['email']">Debe ser una dirección de correo electrónico válida.</div>
                                </div>
                            </div>
                            <!-- Form Row -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number) -->
                                <!--<div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Número de teléfono</label>
                                    <input class="form-control" id="inputPhone" type="tel" placeholder="Ingresa tu número de teléfono" formControlName="phone">
                                    <div *ngIf="accountForm?.get('phone')?.invalid && (accountForm?.get('phone')?.dirty || accountForm?.get('phone')?.touched)" class="text-danger">
                                        <div *ngIf="accountForm?.get('phone')?.errors?.['required']">Campo requerido.</div>
                                    </div>
                                </div> -->
                                <!-- Form Group (birthday) -->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Cumpleaños</label>
                                    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Ingresa tu fecha de cumpleaños" formControlName="fechadenacimiento">
                                    <div *ngIf="accountForm?.get('fechadenacimiento')?.invalid && (accountForm?.get('fechadenacimiento')?.dirty || accountForm?.get('fechadenacimiento')?.touched)" class="text-danger">
                                        <div *ngIf="accountForm?.get('fechadenacimiento')?.errors?.['required']">Campo requerido.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Save changes button -->
                            <button class="btn btn-primary" type="submit" [disabled]="accountForm.invalid">Guardar</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>



                            
