<p>about-me works!</p>
<link rel="stylesheet" href="about-me.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Marcellus&family=Rouge+Script&display=swap"
    rel="stylesheet">

<div class="main-homepage-1" style="margin-top: 30px;">
    <section class="flat-about style1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="image-single">
                        <img src="assets/img/about-me/homepage144 copia.png" alt="image" />
                    </div>
                </div>
                <!-- /col-lg-7 -->
                <div class="col-lg-5 col-md-5">
                    <div class="flat-divider margin-top50px"></div>
                    <div class="flat-textbox">
                        <h3 class="textbox-title">Nuestra forma Le Mone</h3>
                        <h1 class="textbox-main">Bienvenido a Le Mone</h1>
                        <p>
                            Llevamos más de 10 años dentro del mercado como el sistema de gestion de stock de vinoteca
                            más prestigioso del país y nos enorgullecemos de poder ofrecer al publico
                            distintas variedades de gestion de stock al mejor precio del mercado.
                        </p>
                    </div>

                </div>
                <!-- /information -->
            </div>
            <!-- /col-lg-5 -->
        </div>
        <!-- /row-->
    </section>
</div>
<app-footer></app-footer>