h3 {
    font-family: Rouge Script;
    font-size: 30px;
    color: #c02323;
}

h1 {
    font-family: Marcellus;
    font-size: 36px;
    color: #191919;
}

p {
    font-family: Libre Baskerville;
    font-size: 14px;
    line-height: 26px;
    color: #595959;
}