h3 {
    font-family: Rouge Script;
    font-size: 40px;
    color: #c02323;
}

h1 {
    font-family: Marcellus;
    font-size: 36px;
    color: #191919;
}

p {
    font-family: Libre Baskerville;
    font-size: 14px;
    line-height: 26px;
    color: #595959;
}

h6 {
    font-family: Marcellus;
    font-size: 20px;
    color: #191919;
}

.miembro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miembros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive */

/* Pantallas grandes */
@media (min-width: 992px) {
    .col-lg-7 .image-single img {
      width: 70%;
    }
  }
  
  /* Pantallas medianas */
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-7 .image-single img {
      width: 50%; 
    }
  }
  
  /* Pantallas pequeÃ±as */
  @media (max-width: 767px) {
    .col-md-7 .image-single img {
      width: 100%; 
    }
  }
