<h1>Buscar Pokemon</h1>
<form [formGroup]="searchForm" (ngSubmit)="searchPokemon()">
  <div>
    <label>Nombre del Pokemon:</label>
    <input type="text" formControlName="pokemonName" />
    <button type="submit">Buscar</button>
  </div>
</form>

<h1 *ngIf="pokemon">Información del Pokemon</h1>
<div *ngIf="pokemon">
  <p>Nombre: {{ pokemon.name }}</p>
  <p>Peso: {{ pokemon.weight }} kg</p>
  <p>Altura: {{ pokemon.height }} m</p>
  
  <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
 







</div>
