/* Titulos */
.titulo {
  color: white;
  background-color: #590828;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Seccion Inicio-------------------------------------------*/


.contenedor {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.contenedor img {
  width: 100%;
  height: 500px;
}

.contenedor .texto {
  position: absolute;
  top: 50%;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

.contenedor h2 {

  font-size: 90px;
  margin-bottom: 0.5em;
}

.contenedor p {
  font-size: 50px;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {

  /* Estilos para pantallas de hasta 768px de ancho */
  .contenedor h2 {
    font-size: 2em;
  }

  .contenedor p {
    font-size: 1em;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 480px) {

  /* Estilos para pantallas de hasta 480px de ancho */
  .contenedor .texto{
    top: 40%;
    font-size: 30px;
  }
  .texto {
    margin-top: 150px;
  }

  .contenedor img {
    margin-top: 170px;
  }

  .contenedor h2 {
    font-size: 1.5em;
  }

  .contenedor p {
    font-size: 0.8em;
    line-height: 1.1em;
  }
}


/* Seccion Productos destacados -----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font1: 'Heebo', sans-serif;
  --font2: 'Fira Sans Extra Condensed', sans-serif;
  --font3: 'Roboto', sans-serif
}

body {
  font-family: var(--font3);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
}

h2 {
  font-weight: 900
}

.container-fluid {
  max-width: 1200px
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px)
}

.card h5 {
  overflow: hidden;
  height: 56px;
  font-weight: 900;
  font-size: 1rem
}

.card-img-top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px
}

.card h2 {
  font-size: 1rem
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.label-top {
  position: absolute;
  background-color: #993b58;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase
}

.top-right {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  background: #ff5722;
  line-height: 90px;
  text-align: center;
  color: white
}

.top-right span {
  display: inline-block;
  vertical-align: middle
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px
  }
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.0px);
  -webkit-backdrop-filter: blur(0.0px);
  border-radius: 10px
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px
}

.box .btn {
  font-size: 1.5rem
}

@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px
  }
}

@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px
  }
}

/* Destacados--------------------------------------------------------------------- */

.btn-warning {
  background: none #590829;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  border-radius: 100px
}

.btn-warning:hover {
  background: none #993b58;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
}

.bg-success {
  font-size: 1rem;
  background-color: #993b58 !important
}

.bg-danger {
  font-size: 1rem
}

.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray
}

.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray
}

.fa-question-circle:before {
  color: darkgray
}

.fa-plus:before {
  color: darkgray
}

.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.box-img {
  max-width: 300px
}

.thumb-sec {
  max-width: 300px
}

@media (max-width: 576px) {
  .box-img {
    max-width: 200px
  }

  .thumb-sec {
    max-width: 200px
  }
}

.inner-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1px;
  display: inline-block;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover
}

@media (max-width: 370px) {
  .box .btn {
    padding: 5px 40px 5px 40px;
    font-size: 1rem
  }
}

.disclaimer {
  font-size: .9rem;
  color: darkgray
}

.related h3 {
  font-weight: 900
}

footer {
  background: #212529;
  height: 80px;
  color: #fff
}

/* ------------------------------------------------------ */
/* Contacto--------------------------------------------- */


.contenedor-contacto button {
  
  font-family: 'Dancing Script', cursive;
  background-color: #ffffff;;
  border:2px rgb(0, 0, 0) solid;
  color: #590829;
  cursor: pointer;
  font-size: 50px;

}
.contenedor-contacto button:hover{
  border: white solid 10px;
  background-color: #993b58;
  border:2px white solid;
  color: #ffffff;
  cursor: pointer;
  font-size: 50px;
}
.contenedor-contacto {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contenedor-contacto img {
  max-width: 100%;
  max-height: 100%;
}

.contenedor-contacto .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.contenedor-contacto h2 {
  background-color: #2125298e;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.contenedor-contacto p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {

  /* Estilos para pantallas de hasta 768px de ancho */
  .contenedor-contacto h2 {
    font-size: 2em;
  }

  .contenedor-contacto p {
    font-size: 1em;
    line-height: 1.3em;
  }
}

  /* Estilos para pantallas de hasta 480px de ancho */
  @media screen and (max-width: 480px){
    .contenedor-contacto button {
      font-size: 30px;
    
    }

    .contenedor-contacto .texto{
     margin:0px;
    }
    .contenedor-contacto h1{
      font-size: 10px;
    }
    .contenedor-contacto h2{
      font-size: 30px;
      
    }

  }

   /* Estilos para pantallas de hasta 390px de ancho */
   @media screen and (max-width: 390px){
    
    .contenedor-contacto .texto{
     margin:0px;
    }
    .contenedor-contacto h1{
      font-size: 5px;
    }
    .contenedor-contacto h2{
      font-size: 23px;
    }
    .contenedor-contacto button {
  
      font-family: 'Dancing Script', cursive;
      background-color: #ffffff;;
      border:2px rgb(0, 0, 0) solid;
      color: #590829;
      cursor: pointer;
      font-size: 25px;
    }
  }




/* Testimonios --------------------------------------------- */
.testimonios {
  padding: 10px 40px 80px 40px;
  display: flex;
  justify-content: center;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;

}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}