
/* Titulos */
.titulo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;      
}

/* carousel inicio */
.contenedor-carousel {
    color: white;
    position: relative;
    display: inline-block;
  }
  
  .texto-encima-carousel {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: #59082842;
    padding: 5px;
  }

/* Productos destacados */

.contenedor-destacados{

    display: flex;
    justify-content: center;   
}
.card-img-top{
    width: 150px;
}


.seccion-roja{
    background-color: #590829;
    color: white;
}

/* Testimonios */
.testimonios {
  padding: 10px 40px 80px 40px;
  display: flex;
  justify-content: center;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;

}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}
/* Contacto */

.contacto h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;

}

.contenedor-contacto {
    
    position: relative;
    display: inline-block;
  }
  
  .texto-encima-contacto {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#59082842;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    
  }

  .boton-encima-contacto{
    font-size: 35px;
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  
  /* Boton Personalizado */

.ov-btn-grow-box {
    background: #590829; /* color de fondo */
    color: white; /* color de fuente */
    border: 2px solid white#993b58; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
  }
  .ov-btn-grow-box:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-box::after {
    content: "";
    background: #993b58; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-box:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  } 

