<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="thankyou-page">
        <div class="_header">
            <div class="logo">
                <img src="https://codexcourier.com/images/banner-logo.png" alt="">
            </div>
            <h1>Gracias por su compra</h1>
        </div>
        <div class="_body">
            <div class="_box">
                <h2>
                    <strong>Por favor revise su E-mail</strong> para recibir instrucciones respecto a su pedido.
                </h2>
                <p>
                    Muchas gracias por comprar con Lemone, Apreciamos que nos haya elegido esta vez.
                </p>
            </div>
        </div>
        <div class="_footer">
            
            <a (click)="home()" class="btn">Volver a inicio</a>
        </div>
    </div>
    
</body>
</html>
