<app-navbar></app-navbar>
<div class="container">
    <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
        <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" id="codigo" formControlName="codigo" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="inventariominimo">Inventario Mínimo</label>
            <input type="number" id="inventariominimo" formControlName="inventariominimo" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="preciodecosto">Precio de Costo</label>
            <input type="number" id="preciodecosto" formControlName="preciodecosto" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="preciodeventa">Precio de Venta</label>
            <input type="number" id="preciodeventa" formControlName="preciodeventa" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <select id="categoria" formControlName="categoria" class="form-control" required>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="activoactualmente">Estado</label>
            <select id="activoactualmente" formControlName="activoactualmente" class="form-control" required>
                <option [value]="true">Activado</option>
                <option [value]="false">Desactivado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen" formControlName="imagen" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<app-footer></app-footer>